<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <!--<meta http-equiv=="Content-Type" content="text/html; charset=UTF-8" /> -->
        <meta charset="UTF-8">
        
        <link rel="stylesheet" href="/css/share.css">
        <link rel="stylesheet" href="/css/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Oleo+Script:wght@700&family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet"/>
        <title>SYNCLOUD</title>
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
        <script>
            function popup(id){
                let url = "http://syncloud:8080/upload/" + id;
                let name = "Upload";
                let option = "width = 500, height = 700, top = 100, left = 200, location = no"
                window.open(url, name, option);
            }
        </script>
        <script>
            function note(id){
                let url = "http://syncloud:8080/note/" + id;
                let name = "note";
                let option = "width = 400, height = 450, top = 100, left = 200, location = no"
                window.open(url, name, option);
            }
        </script>
        <script src="js/howler.core.js"></script>
        <script src="js/howler.spatial.js"></script>
        <script src="js/audioControler.js"></script>
    </head>
    <body>
        <header>
            <div id="page_logo">
                <a href="/index">SYNCLOUD</a>
            </div>
            <nav>
                <ul>
                    <li>
                        <a th:href="'/search/' + ${userId} ">Search</a>
                    </li>
                    <li>
                        <a th:href = "'javascript:popup(' + ${userId} + ')'" >Upload</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <h1>Workspace</h1>
            <section id="play">
                <button class="play" id="btn_p" style="color: green;">▶︎</button>
                <button class="play" id="btn_s" style="color: black;" disabled>■</button>
                <button class="play" id="btn_r" style="color: red;" value=0>⦁</button>
            </section>
            <section id="card">
                <ul>
                    <li th:each="selectSoundtrack : ${selectSoundtracks}">
                        <form id="card_contents">
                            <!-- 트랙 띄우는 곳으로 사용 -->
                            <p class="song_name" th:text="${selectSoundtrack.soundtrack.song.title}">SONG NAME</p>
                            <p class="singer_name" th:text="${selectSoundtrack.soundtrack.song.artist}">SINGER NAME</p>
                            <p class="instruments" th:text="${selectSoundtrack.soundtrack.session}">SESSION</p>
                            <p class="path" style="display: none;" th:classappend="${selectSoundtrack.soundtrack.session}" th:text="${selectSoundtrack.soundtrack.path}"></p>
                            <p class="bpm" style="display: none;" th:classappend="${selectSoundtrack.soundtrack.session}" th:text="${selectSoundtrack.soundtrack.bpm}"></p>
                            <div id="button_place">
                                <button class="btn" id="load" style="width: 150px" disabled th:classappend="${selectSoundtrack.soundtrack.session}">LOADING...</button>
                                <input class='volume' type="range" min="0" max="100" value="100" th:classappend="${selectSoundtrack.soundtrack.session}">
                                <button type="button" class="note" th:onclick="'javascript:note('+${selectSoundtrack.soundtrack.id}+')'">Note</button>
                                <a th:if="${selectSoundtrack.deleted == false}" href="#"
                                   th:href="'javascript:deleteSoundtrack('+${selectSoundtrack.id}+')'"
                                > <button type="button" class="deleteFromList">Delete</button>
                                </a>
                            </div>
                        </form>
                    </li>
                </ul>
            </section>
        </main>
        <footer>
            <!-- 팀 정보 같은거 넣으면 될듯 -->
            Chungang UNIV. CSE Capstone Design - Team 2
        </footer>
    </body>
    <script>
        function deleteSoundtrack(id) {
            let form = document.createElement("form");
            form.setAttribute("method", "post");
            form.setAttribute("action", "/index/" + id + "/delete");
            document.body.appendChild(form);
            form.submit();
        }
    </script>
    <script async>
        console.log("binding");

        <!-- audio load -->
        let paths = document.getElementsByClassName('path');
        let list_audio = new Array();
        //let list_audio_play_id = new Array();
        let BPM = 100;

        for(elem of paths){
            let p = elem.innerText;
            let btn_class_query = '.btn.' + elem.classList[1];
            let bpm_class_query = '.bpm.' + elem.classList[1];

            let btn = document.querySelectorAll(btn_class_query)[0];
            BPM = document.querySelectorAll(bpm_class_query)[0].innerText;
            list_audio.push(audio_obj_create(btn, p));
        }
        set_metronome(BPM);

        <!-- function binding -->
        const btn_play = document.getElementById('btn_p');
        const btn_stop = document.getElementById('btn_s');
        const btn_record = document.getElementById('btn_r');

        btn_play.addEventListener("click", function(){
            console.log("play");
            audio_play(BPM, list_audio);

            btn_play.setAttribute("disabled", "true");
            btn_stop.removeAttribute("disabled");
        });
        btn_stop.addEventListener("click", function (){
            console.log("stop");
            audio_stop();

            btn_stop.setAttribute("disabled", "true");
            btn_play.removeAttribute("disabled");
        });
        btn_record.addEventListener("click", function(){
            console.log(btn_record.value);
            if(btn_record.value==0){
                audio_record_start(BPM, list_audio);
                btn_record.value=1;

                btn_record.style.backgroundColor = 'gray';
            }
            else{
                audio_record_stop();
                btn_record.value=0;

                btn_record.style.backgroundColor = 'white';
            }
        });

        const volume_inputs = document.querySelectorAll(".volume");
        volume_inputs.forEach((elem, index) => {
            elem.addEventListener('input', function(){
                audio_volume(elem.value, list_audio[index], list_audio_play_id[index]);
                console.log(elem.value);
            })
        })
        console.log("done");

        function info_gathering(){
            let ret = new Array;

            // song_name | artist | session='vocal' | bpm | path=null
            ret.push(document.getElementsByClassName('song_name')[0].innerText);
            ret.push(document.getElementsByClassName('singer_name')[0].innerText);
            ret.push('vocal');
            ret.push(BPM);
            ret.push('null');

            return ret;
        }
    </script>
    <script>
        document.cookie = "my_srchopt=1/1/1/1/1/1"
        document.cookie = "cur_info_cookie=."
    </script>
</html>