<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/share.css">
        <link rel="stylesheet" href="/css/search.css">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Oleo+Script:wght@700&family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet"/>
        <title>SYNCLOUD</title>
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
        <script>
            function popup(id){
                let url = "http://syncloud:8080/upload/" + id;
                let name = "Upload";
                let option = "width = 500, height = 700, top = 100, left = 200, location = no"
                window.open(url, name, option);
            }
        </script>
        <script>
            function note(id){
                let url = "http://syncloud:8080/note/" + id;
                let name = "note";
                let option = "width = 400, height = 450, top = 100, left = 200, location = no"
                window.open(url, name, option);
            }
        </script>
    </head>
    <body>
        <header>
            <div id="page_logo">
                <a href="/index">SYNCLOUD</a>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="/index">Workspace</a>
                    </li>
                    <li>
                        <a th:href = "'javascript:popup(' + ${userId} + ')'" >Upload</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <section id="searching_area">
                <form th:action="@{'/search/'+${userId}}" th:object="${searchForm}" method="post">
                    <!-- 검색창 만들기 -->
                    <div class="search">
                        <input type="text" name="query" value="" th:field="*{searchTarget}">
                        <button id="btn_search" type="summit">Search</button>
                    </div>
                    <div class="session_select">
                      <label id="head_label">Options : </label>
                        <div th:each="_session : ${sessions}">
                          <input type="checkbox" th:field="*{searchOption}" th:value="${_session.key}"/>
                            <label th:for="${#ids.next('sessions')}" th:text="${_session.value}">Session</label>
                        </div>
                    </div>
                </form>
            </section>
            <section id="card">
                <ul>
                    <li th:each="soundtrack : ${soundtracks}">
                        <form id="card_contents">
                            <p class="song_name" th:text="${soundtrack.song.title}">SONG NAME</p>
                            <p class="singer_name" th:text="${soundtrack.song.artist}">SINGER NAME</p>
                            <p class="instruments" th:text="${soundtrack.session}">SESSION</p>
                            <div>
                                <button type="button" class="note" th:onclick="'javascript:note('+${soundtrack.id}+')'">Note</button>
                                <a href="#"
                                   th:href="'javascript:addSoundtrack('+${userId}+','+${soundtrack.id}+')'">
                                    <button type="button" class="addToList">Add</button>
                                </a>
                            </div>
                        </form>
                    </li>
                </ul>
            </section>
        </main>
        <footer>
            <!-- 팀 정보 같은거 넣으면 될듯 -->
            Chungang UNIV. CSE Capstone Design - Team 2
        </footer>
    </body>
    <script>
        function addSoundtrack(userId, soundtrackId) {
            let form = document.createElement("form");
            form.setAttribute("method", "post");
            form.setAttribute("action", "/search/" + userId + "/" + soundtrackId + "/add");
            document.body.appendChild(form);
            form.submit();
        }
    </script>
    <script>
        let cookie_srchopts = document.cookie.match(/my_srchopt=([^;]+)/)[1].split('/');

        const srchopt1 = document.getElementById('searchOption1');
        const srchopt2 = document.getElementById('searchOption2');
        const srchopt3 = document.getElementById('searchOption3');
        const srchopt4 = document.getElementById('searchOption4');
        const srchopt5 = document.getElementById('searchOption5');
        const srchopt6 = document.getElementById('searchOption6');
        const srchopts = new Array(srchopt1, srchopt2, srchopt3, srchopt4, srchopt5, srchopt6);

        srchopts.forEach((elem, index) => {
            if(cookie_srchopts[index]=='1')  elem.checked = true;
            else elem.checked = false;
        });

        document.getElementById('btn_search').addEventListener('click', function (){
            let temp = new Array();
            srchopts.forEach((elem, index) => {
                if(elem.checked==true)  temp.push('1');
                else temp.push('0');
            });
            cookie_srchopts = temp.join('/');
            document.cookie = "my_srchopt="+cookie_srchopts;
        });
    </script>
</html>