body {
  height: 100%;
}

h1 {
  height: 50px;
  color: white;
  font-size: 50px;
  margin: 0;
  padding: 50px;
  margin: 1px;
  /*font-family: 'Noto Sans Nandinagari', sans-serif;*/
}

#song_meta_data {
  top: 150px;
  margin: 10px;
}

ul {
  list-style: none;
  margin: auto;
  padding: 1px;
  align-items: center;
  align-self: center;
  align-content: center;
}

li {
  width: 90%;
  margin: 10px;
  padding: 10px;
  color: white;
  font-size: 30px;
  font-weight: 800;
}

li input {
  font-size: 25px;
}

li select {
  font-size: 25px;
}

#bpm_input input {
  width: 70px;
  text-align: right;
}

#note_input{
  display: flex;
  flex-direction: column;
}

#note_input label {
  padding-bottom: 10px;
}

#note_input textarea {
  font-size: 25px;
  height: 200px;
  width: 100%;
  vertical-align : top;
}

#total_submit {
  width : 70pt;
  height : 30pt;
  font-size : 15pt;
  border : none;
  border-radius : 5px;
  background-color : rgb(255,255,255);
}

#total_submit:active {
  background-color: rgb(235, 235, 235);
}